# firebase-config.js (Removed from ignore to allow Vercel deployment)
# .env
.env.local
firebase-key.json

node_modules/
npm-debug.log*


dist/
build/

.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

*.min.js.map
